{% extends 'wiki/base.html' %}


{% block content %}
	<h1><a href="../{{ page.name }}/" rel="bookmark">{{ page.name }}</a></h1>

	{% if not page.id %}
		<p>This page does not exist, <a href="edit/">create it now</a>?</p>
    {% else %}
        {% if revision %}
        <p>
            {{ revision.rendered|safe|linebreaks }}
        </p>
        revision: {{ revision.counter }}, last edited: {{ revision.date|date:'N j, Y, P' }}
        {% else %}
            This page has no revisions.
        {% endif %}
	{% endif %}


{% endblock %}


{% block footer %}
	{% if page.id %}
		<a href="edit/">Edit this page</a>
	{% else %}
		<a href="edit/">Create this page</a>
	{% endif %}
	|
{% endblock %}